#carrusel-container {
    max-width: 50%;
  }

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:black;
    font-weight: bold;
    font-size: larger;
    padding-top: 55px;
}
